h1 {
  text-align: center;
  padding: 15px 0;
  background: #4e4d4d;
  color: white;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}
.liste {
  max-width: 100%;
}
.item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
  background: rgb(218, 218, 218);
  cursor: pointer;
  transition: background 0.3s ease;
}
.item:hover {
  background: rgb(255, 255, 255);
}
.item:nth-child(2n) {
  background: rgb(197, 197, 197);
}
.item:nth-child(2n):hover {
  background: rgb(255, 255, 255);
}
.item pre {
  width: 100%;
  display: block;
  overflow-x: hidden;
  padding: 10px 0 10px 10px;
}
